#######################################################
# This .gitignore file was automatically created by Me
#######################################################

**/.vs
*.exe
*.dll
*.pdb
**/obj

