################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/psteg/psteg/.vs/psteg/v15
