################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/psteg/psteg/.vs/psteg/v15
/psteg/.vs/psteg/v15/Server/sqlite3
/psteg/psteg/obj/Debug
/psteg/psteg/bin/Debug
/psteg/.vs/psteg/v15
